# Ignore Project Data Folders
/py_modules
/.vscode
/.idea
/__pycache__
/build
/dist

# Build Specific Files
# Add them with each build
# if using some other name
# to prevent it being included
# in GitHub Repo
pyPaint-v0.1-beta.spec
pyPaint-v1.0.spec
